
.grap{
   margin: auto;
   width: 400px;
   /* height: 250px; */

}
.grap_input{
    /* height: 200px; */
    background-color: #f0f0f0;
    /* height: auto; */
}
form{
    margin: auto;
}

.title{
    color: white;
    height: 50px;
    background-color: #3398cc;
    text-align: center;
    font-size: 20px;
    font-weight: 200;
    line-height: 50px ;
}
.input_email, .input_pass{
    height: 50px;
    width: 350px;
    font-size: 15px;
    margin-top: 20px;
}
.grap_pass{
    text-align: center;

}
.grap_email{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}
.grap_button{
    text-align: center;

}
.button_model{
    height: 50px;
    width: 350px;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #3398cc;
    border-color: transparent;
    border-radius: 2px;
    color: white;
    cursor: pointer;
}
body{
    background-color: #556676;
    display: flex   ;
    height: 600px;
}
.message{
    width: 100%;
    padding: 10px 0px 0px 20px;
    color: red;
}
.grap_input{
    padding: 20px 0px;
}